@font-face {
  font-family: "groovy baby";
  src: url("groovy baby.ttf") format("truetype");
}

@font-face {
  font-family: "akka";
  src: url("akka.ttf") format("truetype");
}

@font-face {
  font-family: "albas";
  src: url("albas.ttf") format("truetype");
}

html, body {
	font-family: 'groovy baby', cursive;
	padding: 0;
	margin: 0;
	background-color: #734d26;
}

header {
	width: 33em;
	margin: 2em auto;
}

header #search {
	color: #ff531a;
	font-family: 'groovy baby', cursive;
	font-size: 2em;
	margin-bottom: -1.25em;
}

header #instagram {
	font-family: 'akka', arial;
	font-size: 6em;
	background: #ff3232; /* Old browsers */
    background: -webkit-linear-gradient(#ff3232 0%, #ff9328 44%, #ffff00 100%);
    background: -o-linear-gradient(#ff3232 0%, #ff9328 44%, #ffff00 100%);
    background: linear-gradient(#ff3232 0%, #ff9328 44%, #ffff00 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#ffff00',GradientType=0 ); /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search {
	text-align: center;
	margin-bottom: 2em;
}

.results {
	font-family: 'albas', sans-serif;
	color: #ff9328;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.tag {
	font-family: 'groovy baby', cursive;
	font-size: 1.25em;
	padding: .5em;
	width: 12em;
	border: none;
	-webkit-border-radius: .75em;
	border-radius: .75em;
}

.submit {
	color: #734d26;
	font-family: 'groovy baby', cursive;
	font-size: 1.25em;
	border: none;
	padding: .5em;
	background-color: #ff9328;
	-webkit-border-radius: .75em;
	border-radius: .75em;
	cursor: pointer;
}

.image {
	border: 5px solid #4d3319;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin: .5em;
}

.links.ng-enter, .links.ng-leave {
  transition:0.5s linear;
}

.links.ng-enter, .links.ng-leave.ng-leave-active  { 
	opacity: 0;
}

.links.ng-enter.ng-enter-active, .links.ng-leave { 
	opacity: 1; 
}

.links.ng-enter-stagger {
	transition-delay: 0.1s;
  	transition-duration: 0s;
}
