<!DOCTYPE html>
<html lang="en" ng-app="instagramSearchApp">
<head>
	<meta charset="UTF-8">
	<title>Instagram Search</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-messages.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.4.5/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="searchFormController">
	<header>
		<div id="search">Search</div>
		<div id="instagram">Instagram</div>
	</header>
	<section class="search">
		<form name="tagSearch" ng-submit="submit()">
			<input type="text" placeholder="Enter a tag to search" name="tag" ng-model="tagInput" autocomplete="off" class="tag" required/>
			<button type="submit" class="submit">Submit</button>
		</form>
	</section>
	<section class="results">
		<h2 ng-if="foundResults">We found {{results.length}} results for the tag "{{tag}}".</h2>
		<h2 ng-if="foundError">There was an error. Only use letters and numbers. Please try again.</h2>
		<a ng-if="foundResults" class="links" ng-repeat="result in results" ng-href="{{result.link}}"><img class='image' ng-src="{{result.images.low_resolution.url}}" width="250"/></a>
	</section>
</body>
</html>