<!DOCTYPE html>
<html lang="en" ng-app="instagramSearchApp">
<head>
	<meta charset="UTF-8">
	<title>Instagram Search</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-messages.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.4.5/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-controller="searchFormController">
	<header>
		<div id="search">Search</div>
		<div id="instagram">Instagram</div>
	</header>
	<section class="search">
		<form name="tagSearch" ng-submit="submit()">
			<input type="text" placeholder="Enter a tag to search" name="tag" ng-model="tag" autocomplete="off" class="tag" required/>
			<button type="submit" class="submit">Submit</button>
		</form>
	</section>
	<section>
		<a ng-repeat="result in results" ng-href="{{result.link}}"><img ng-src="{{result.images.low_resolution.url}}"/></a>
	</section>
</body>
</html>